In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
baby_names = pd.read_csv('https://raw.githubusercontent.com/Laxminarayen/Inceptez-batch-25-Classwork/refs/heads/main/Python-Class12-DescriptiveStatistics-Pandas/US_Baby_Names_right.csv')
baby_names.drop(columns=['Unnamed: 0','Id'],inplace=True)
baby_names.value_counts(subset='Gender')

Gender
F    558846
M    457549
Name: count, dtype: int64

In [21]:
baby_names.groupby('Name').sum().sort_values(('Count'),ascending=False)[['Count']].head(5)

           Count
Name
Jacob     242874
Emma      214852
Michael   214405
Ethan     209277
Isabella  204798

In [25]:
baby_names.Name.nunique()

17632

In [27]:
display(baby_names.Name.mode())

0    Riley
Name: Name, dtype: object

In [29]:
baby_names.Count.median()

11.0

In [30]:
baby_names.Count.std()

97.39734648625934

In [34]:
baby_names.Count.describe().astype(int)

count    1016395
mean          34
std           97
min            5
25%            7
50%           11
75%           26
max         4167
Name: Count, dtype: int64